<div class="container hero">
  <a class="back d-flex align-items-center" routerLink="/"><mat-icon>arrow_back</mat-icon>Voltar</a>
  <div class="d-flex mt-5">
    <div class="capa">
      <img [src]="imageUrl + movie.backdrop_path" alt="{{ movie.title }}" class="card-img-top">
    </div>
    <div class="content px-5">
      <h3 class="title">{{ movie.title }} - {{getYear(movie.release_date)}}</h3>
      <p class="genrer">
        {{ formatGenres(genres) }}
      </p>
      <p class="overview">
        {{ movie.overview}}
      </p>
      <p class="languages">
        Idioma: {{ formatLanguages(spoken_languages) }}
      </p>

      <div class="d-flex align-items-center">
        <div class="avarage d-flex justify-content-center align-items-center">
          <span class="">{{ movie.vote_average | number: '1.2-2' }}</span>
        </div>
        <span class="mx-3 avaliable">Avaliação Média</span>
      </div>
      <button type="button" class="btn btn-trailer mt-3" data-bs-toggle="modal" data-bs-target="#myModal">
        <img src="../../../assets/images/play-button.png" class="mx-2">
        <span>Trailer</span>
      </button>
      <!-- <div class="moviePlay">
        <a href="https://www.themoviedb.org/video/play?key={{getVideo}}" target="#myModal">Trailler</a>
      </div> -->
    </div>
  </div>
  <h3 class="sub-title">Mais informações</h3>
  <div class="info">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon">people</mat-icon>
          <span>Elenco</span>
        </ng-template>
        <div class="row profile">
          <div class="col-3 mb-3" *ngFor="let credit of credits; let i = index">
            <div class="box d-flex">
              <div class="box-img">
                <img [src]="imageUrl + credit.profile_path" alt="{{ credit.name }}" (error)="handleImageError($event)">
              </div>
              <div class="credits-info">
                <p>{{ credit.character }}</p>
                <p>{{ credit.original_name }}</p>
                <p>{{ departmentToShow }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon">movie</mat-icon>
          <span>Mais vídeos</span>
        </ng-template>

        <div class="d-flex flex-wrap justify-content-center">
          <div class="videos" *ngFor="let video of moreVideos">
            <iframe [src]="video" height="315" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon">people</mat-icon>
          <span>Elenco</span>
        </ng-template>
        <div class="credits" *ngFor="let credit of credits">
          <p>{{credit.name}}</p>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <iframe [src]="movieVideo" width="100%" height="515" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
