.header{
  padding: 20px;
  background: rgb(7, 2, 2);
  font-size: 3em;
  border-bottom: 1px solid #54545C;
}

.header img{
  margin-right: 10px;
}

.title{
  background: #54545C;
  background: radial-gradient(ellipse farthest-corner at right center, #2beed4 51%, #084044 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.subtitle{
  background: #4949b8;
  background: radial-gradient(ellipse farthest-corner at right center, #20ffe1 51%, #181717 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


