.header{
  padding: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,18,20,1) 82%);
  font-size: 3em;
}

.title{
  color: rgb(250, 25, 62);
  font-weight: 700;
  margin-right: 8px;
}

.subtitle{
  color:rgb(240, 207, 184);
  font-weight: 700;
}


