<div class="d-flex justify-content-center mt-5 mb-5">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="d-flex align-items-center">
      <input type="text" placeholder="Pesquise o filme aqui" class="search" formControlName="movieName">
      <button class="btn btn-search mx-2">Buscar</button>
    </div>
  </form>
</div>
<div class="d-flex flex-wrap container">
  <ng-container *ngFor="let movie of searchResult">
    <div class="card" style="width: 18rem;" *ngIf="movie.poster_path">
      <a [routerLink]="['/movie',  movie.id ]">
        <img [src]="imageUrl + movie.poster_path" alt="{{ movie.title }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center">{{ movie.original_title }}</h5>
          <div class="votes">
            <span>{{ movie.vote_average | number: '1.2-2' }}</span>
          </div>
          <div class="action d-grid">
            <button class="btn btn-outline-secondary" type="button">Detalhes</button>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>

<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>



