.search{
  height: 40px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
  font-size: 1.5rem;
}

::placeholder{
  color: #f4f4f4;
  font-size: 1.5rem;
  line-height: 40px;
}

.card{
  margin: 15px;
  background-color: black;
  border: 1px solid #333;
  cursor: pointer;
  transition: .5s ease;
}

.card-title{
  padding: 5px 0;
  font-size: 1em;
  color: #f9f9f9;
}

.card:hover{
  transform: scale(1.1);
  border: 1px solid #f4f4f4
}

span{
  background-color: #2beed4;
  font-size: 1.1em;
  padding: 5px;
  border-radius: 50%;
}

.votes{
  position: absolute;
  margin-top: -75px;
}
