<div class="container">
  <div class="d-flex justify-content-center">
    <nav role="navigation">
      <ul>
        <li class="space"><span>Filmes</span>
          <ul class="dropdown">
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">Mais Populares</a></li>
            <li><a href="#">Em Breve</a></li>
          </ul>
        </li>
        <li class="space"><span>Séries</span></li>
      </ul>
    </nav>
  </div>
  <h1 class="text-center top_rated">Top Rated</h1>
  <div class="d-flex flex-wrap">
    <div class="card" style="width: 18rem;" *ngFor="let movie of movies.results">
      <img src="{{imageUrl}}{{ movie.poster_path }}" alt="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">{{ movie.title }}</h5>
        <div class="action d-grid">
          <button class="btn btn-outline-secondary" type="button">Detalhes</button>
        </div>
      </div>
    </div>
  </div>

</div>

