@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swa');
@import "~bootstrap/dist/css/bootstrap.min.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  background-color: rgb(7, 2, 2);
}

.title{
  font-size: 3em;
  color: #f9f9f9;
  font-weight: 800;
  padding-bottom: 20px;
}

.sub-title{
  font-size: 2em;
  color: #f9f9f9;
  font-weight: 800;
  padding-bottom: 20px;
}

.genrer, .languages{
  font-size: 1.2em;
  color: #2beed4;
}

.overview{
  font-size: 1.5em;
  color: #f9f9f9;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
